# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare binary files to prevent line-ending corruption
*.jar binary
*.keystore binary
*.png binary
*.webp binary
*.jpg binary
*.jpeg binary

# Shell scripts must have LF line endings
gradlew text eol=lf
gradlew.bat text eol=crlf
